<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>car</display-name>
	<!-- 配置springmvc -->
	<!-- 配置核心控制器 -->
	<servlet>
		<servlet-name>control</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 配置初始化参数 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
	</servlet>
	<!-- 配置路径 -->
	<servlet-mapping>
		<servlet-name>control</servlet-name>
		<!-- 配置方便设置restful风格 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 配置spring -->
	<!-- 添加一个监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 配置全局 &查找spring.xml文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring.xml</param-value>
	</context-param>
	<!-- 配置响应数据乱码问题 -->
	<filter>
		<filter-name>chars</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<!-- 初始化参数编码 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<!-- 配置过滤路径 -->
	<filter-mapping>
		<filter-name>chars</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>