<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>天府之国-成都</title>

<meta content="天府之国-成都" name="keywords" />

<meta content="天府之国-成都" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临天府之国成都！</p>
	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.jsp"><img src="../images/logo.jpg" width="294" height="49" alt="" title="天府之国-成都"></a>

       		<ul>

            	<li><a href="/tourism/index.jsp">网站首页</a></li>       

                <li><a href="culture.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="/tourism/message/getList">留言</a></li>  

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_erji.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说成都</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">成都简介</a></h3>

</li>

        

        <li><h3><a href="Culture.html">成都文化</a></h3>

</li>

        

        <li><h3><a href="historic.html">成都历史</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：四川工商职业技术学院</p>

                      <p>联系人：项目小组</p>

                      <p>电话：123456789</p>

                      <p>QQ：987654321</p>

                      <p>网址：wwXXXcom</p>

                      <p>邮编：xxxxxx</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.jsp">首页</a> > 成都文化</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>成都文化</span>

                        发布人:管理员　　发布时间：2016-07-2 23:25:28

                  </p>

                	<div class="con">

               		   <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp;成都（Chengdu），简称蓉，是四川省省会，1993年被国务院确定为西南地区的科技、商贸、金融中心和交通、通讯枢纽，是设立外国领事馆数量最多、开通国际航线数量最多的中西部城市 。
<br />

&nbsp;&nbsp;&nbsp;&nbsp;2015年由国务院批复并升格为国家重要的高新技术产业基地、商贸物流中心和综合交通枢纽，西部地区重要的中心城市 。

<br />

&nbsp;&nbsp;&nbsp;&nbsp;成都位于位于四川盆地西部，成都平原腹地，成都东与德阳、资阳毗邻，西与雅安、阿坝接壤，南与眉山相连。成都市下辖锦江区等10区5县，代管4个县级市。2014年末，成都市辖区建成区面积604.1平方公里，常住人口1442.8万人 。

<br />

&nbsp;&nbsp;&nbsp;&nbsp;成都是“首批国家历史文化名城”和“中国最佳旅游城市”，承载着三千余年的历史，是古蜀文明发祥地，中国十大古都之一。拥有都江堰、武侯祠、杜甫草堂、金沙遗址、明蜀王陵、望江楼、青羊宫等众多名胜古迹和人文景观。

 <br />
&nbsp;&nbsp;&nbsp;&nbsp;联合国世界旅游组织第22届全体大会将于2017年、第22届世界航线发展大会将于2016年在成都举办
<br />
&nbsp;&nbsp;&nbsp;&nbsp;2016年4月，国务院明确成都要以建设国家中心城市为目标。2018年11月26日，获得中国最具幸福感城市称号。
<br />

	</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.jsp">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="/tourism/message/getList">旅游</a>| <a href="connection.html">联系我们</a></p>

<p>旅游网站的设计 &copy; 2019-6  版权所有 项目小组</p>
  <p>地址：四川工商职业技术学院  来源:<a href="http://www.mycodes.net/" target="_blank">毕业设计</a> </p>
</div>



<!--footer 结束--> 

</body>

</html>

