<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>天府之国-成都</title>

<meta content="天府之国-成都" name="keywords" />

<meta content="天府之国-成都" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临天府之国！</p>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="/tourism/index.jsp"><img src="../images/logo.jpg" width="294" height="49" alt="" title="绿城之都-南宁"></a>

       		<ul>

            	<li><a href="../index.jsp">网站首页</a></li>       

                <li><a href="Culture.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      


                <li><a href="/tourism/message/getList">留言</a></li>   

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner-->

		<div class="banner_erji">

        	<img src="../images/banner_erji3.jpg" width="1000" height="187" alt="" title="">        </div>

		<!--banner end--> 

		

		<!--content-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>必吃美食</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="delicacy.html">风味小吃</a></h3>

</li>

        

        <li><h3><a href="special.html">特色菜</a></h3>
		
</li>

        

         	</ul>

                 
              </div>

                <div class="left_lx">
<h1>联系方式</h1>

                    <p>地址：四川工商职业技术学院</p>

                      <p>联系人：项目小组</p>

                      <p>电话：123456789</p>

                      <p>QQ：987654321</p>

                      <p>网址：wwXXXcom</p>

                      <p>邮编：xxxxxx</p>


                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.jsp">首页</a> >风味小吃</div>

            	<ul class="ul_zj clearfix">
 

           	<li>

                    	<a href="#"><img src="../images/d058ccbf6c81800a0ddb2b83b13533fa828b4704.jpg" width="220" height="140"><span>米粉</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/0dd7912397dda1447836ce3fb2b7d0a20cf48604.jpg" width="220" height="140"><span>泡菜</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/a71ea8d3fd1f41348a31a7f3251f95cad1c85e3c.jpg" width="220" height="140"><span>粥品</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/94cad1c8a786c91731850b92c83d70cf3ac75792.jpg" width="220" height="140"><span>凉粉</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/622762d0f703918f605d6561503d269758eec489.jpg" width="220" height="140"><span>卷筒粉</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/c995d143ad4bd1130dcdec995bafa40f4bfb051c.jpg" width="220" height="140"><span>汤圆</span></a>                  </li>


           	<li>

                    	<a href="#"><img src="../images/8b82b9014a90f603e74dd9ec3812b31bb151ed98.jpg" width="220" height="140"><span>馓子</span></a>                  </li>


           	



        

                </ul>

                <div class="paging"></div>

            </div>

        </div>

		<!--content end--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.jsp">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="/tourism/message/getList">旅游</a>| <a href="connection.html">联系我们</a></p>

<p>旅游网站的设计 &copy; 2019-6  版权所有 项目小组</p>
  <p>地址：四川工商职业技术学院  来源:<a href="http://www.mycodes.net/" target="_blank">毕业设计</a> </p>
</div>



<!--footer 结束--> 
</body>

</html>

