<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>天府之国-成都</title>

<meta content="绿城之都-南宁" name="keywords" />

<meta content="绿城之都-南宁" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临天府之国-成都！</p>

        <div class="contact"><a href="/tourism/index.jsp">设为首页</a> <a href="../index.jsp">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="/tourism/index.jsp"><img src="../images/logo.jpg" width="294" height="49" alt="" title="绿城之都-南宁"></a>

       		<ul>

            	<li><a href="../index.jsp">网站首页</a></li>       

                <li><a href="culture.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="/tourism/message/getListjsp">留言</a></li>      

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner-->

		<div class="banner_erji">

        	<img src="../images/banner_erji2.jpg" width="1000" height="187" alt="" title="">        </div>

		<!--banner end--> 

		

		<!--content-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>必玩景点</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="tourism.html">线路介绍</a></h3>

</li>

        

      
         	</ul>

                 
                </div>

                <div class="left_lx">
<h1>联系方式</h1>

                    <p>地址：四川工商职业技术学院</p>

                      <p>联系人：项目小组</p>

                      <p>电话：123456789</p>

                      <p>QQ：987654321</p>

                      <p>网址：wwXXXcom</p>

                      <p>邮编：xxxxxx</p>


                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.jsp">首页</a> > 旅游景点</div>

            	<ul class="ul_zj clearfix">
 

           	<li>

                    	<a href="#"><img src="../images/ac2fc3c443a030a138db4941.jpg" width="220" height="140"><span>青城山</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/8cb1cb13495409232994fbb49258d109b2de497f.jpg" width="220" height="140"><span>黄龙溪</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/03087bf40ad162d9e177468510dfa9ec8b13cd89.jpg" width="220" height="140"><span>杜甫草堂</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/0865b5188d74656d34fa416e.jpg" width="220" height="140"><span>药用植物园</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/902397dda144ad340cc4a51ed1a20cf431ad852b.jpg" width="220" height="140"><span>西岭雪山</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/c71d0e381eddfbaab311c753.jpg" width="220" height="140"><span>欢乐谷</span></a>                  </li>


           	<li>

                    	<a href="#"><img src="../images/b90e7bec54e736d1aa1945aa9b504fc2d562690e.jpg" width="220" height="140"><span>森林公园</span></a>                  </li>


           	



        

                </ul>

                <div class="paging"></div>

            </div>

        </div>

		<!--content end--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.jsp">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="/tourism/message/getListjsp">旅游</a>| <a href="connection.html">联系我们</a></p>

<p>旅游网站的设计 &copy; 2019-6  版权所有 项目小组</p>
  <p>地址：四川工商职业技术学院  来源:<a href="http://www.mycodes.net/" target="_blank">毕业设计</a> </p>
</div>



<!--footer 结束--> 
</body>

</html>

